@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}

.header-link {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.sections {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#section-1 {
    background-color: #1F2937;
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    gap: 20px;
    padding: 120px;
}

.hero-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    .title {
        font-size: 48px;
        font-weight: bolder;
        color: #F9FAF8;
    }
    .text {
        font-size: 18px;
        color: #F9FAF8;
    }
    button {
        align-self: flex-start;
        cursor: pointer;
        padding: 8px 24px;
        margin-top: 8px;
        background-color: #3882F6;
        border: 1px solid #3882F6;
        font-size: 16px;
        font-weight: bold;
        color: #E5E7EB;
        border-radius: 4px;
    }
}

.hero-2 {
    min-width: 50%;
    height: 250px;
    display: flex;
    background-color: gray;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

#section-2 {
    padding: 80px 120px;
    p {
        text-align: center;
        margin: 24px;
        font-size: 32px;
        font-weight: bolder;
        margin-bottom: 40px;
    }
    .container {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        align-items: baseline;
        gap: 50px;
        .image {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 170px;
            height: 170px;
            border: 4px solid #3882F6;
            border-radius: 24px;
            margin-bottom: 20px;
        }
        
        .text {
            display: flex;
            width: 170px;
            flex-wrap: wrap;
            min-width: 170px;
            text-align: center;
        }
    }
}

#section-3 {
    background-color: #E5E7EB;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
        width: 70%;
        margin: auto;
        font-size: 36px;
        font-style: italic;
        font-weight: 300;
        color: #1F2937;
    }
    .author {
        padding-right: 18%;
        display: flex;
        justify-content: flex-end;
        font-size: 24px;
        font-weight: 900;
    }
}
#section-4 {
    padding: 80px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    .model {
        padding: 40px 80px;
        display: flex;
        background-color: #3882F6;
        justify-content: space-between;
        flex-grow: 1;
        border-radius: 8px;
        .content {
            min-width: 40%;
            .title {
                font-size: 24px;
                font-weight: 900;
                color: #E5E7EB;
            }
            .text {
                color: #E5E7EB;
            }
        }
        button {
            align-self: center;
            padding: 8px 30px;
            cursor: pointer;
            background-color: #3882F6;
            color: #E5E7EB;
            font-size: 16px;
            font-weight: bold;
            border: 2px solid #E5E7EB;
            border-radius: 8px;
        }
    }
}
.footer {
    display: flex;
    height: 50px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7Eb;
}